config.ini
webcall*
tls.*
*.db
stats.ini
*.pdf
*.txt
webroot/favicon.ico
rkv
showlogs.sh
webcall.prev*
news.ini
dumponline.sh
backupdb.sh
webroot/callee/adapter-latest.js
webroot/user/adapter-latest.js

